<% provide(:title, 'Pokedex') %>

<hgroup>
	<h1>Pokedex</h1>
	<h2>THESE ARE ALL THE POKEMON</h2>
</hgroup>

<ul>
	<% @pokemons.each do |p| %>
		<li><%= link_to p.name.titleize, pokemon_path(p.id) %></li>
	<% end %>
</ul>

<%= link_to 'New Pokemon?', capture_path %>